<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a style="color: white;" class="navbar-brand" href="/">
        Contatos Gutinho
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/contatos">Contatos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre</a>
        </li>
    </ul>

</nav>